################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BowlingScore/packages
/BowlingScore/.vs/BowlingScore
